<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>
<a href="/people">К списку пользователей</a>
<br>
<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="name">Введите ФИО: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors = "*{name}">err</div>
    <br/>
    <label for="age">Введите год рождения: </label>
    <input type="text" th:field="*{year}" id="age"/>
    <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors = "*{year}">err</div>
    <br/>

    <input type="submit" value="Добавить пользователя"/>
</form>

</body>
</html>